
<div style="overflow: hidden;">
  <div>
    <app-header></app-header>
  </div>
  <div class="">
    <div class="input-area">
      <label for="searchInput">Search Emoji</label>
      <input type="text" class="" [(ngModel)]="searchInput" placeholder="Search Emoji" (ngModelChange)="filterEmoji()"/>
    </div>
    <div class="content-section">
      <div class="emoji-list-area">
        <div class="category-Section">
          <div class="category" [ngClass]="{'categroy-active':i==emojiSectionData.activeCategoryIndex}" *ngFor="let category of emojiList;let i=index">
            <div (click)="activateCategory(i)">{{category.name}}</div>
          </div>
        </div>
        <div class="current-category-section">
          <div class="groups-section" *ngFor="let group of emojiList[emojiSectionData.activeCategoryIndex].groups">
            <div *ngIf="(searchInput&&group.searchedEmojis.length!=0) || ((!searchInput|| searchInput.length<3) && group.emojis.length)" style="font-weight: bold; color: lightslategray;">{{group.name}}</div>
            <div class="emoji-list" *ngIf="!searchInput || searchInput.length< 3">
              <div  *ngFor="let emoji of group.emojis">
                <p class="emoji" [innerHTML]="emoji.unicode[0]" [title]="emoji.name" (click)="setActiveEmoji(emoji)"></p>
              </div>
            </div>
            <div class="emoji-list" *ngIf="searchInput && searchInput.length>3">
              
              <div  *ngFor="let emoji of group.searchedEmojis">
                <p class="emoji" [innerHTML]="emoji.unicode[0]" [title]="emoji.name" (click)="setActiveEmoji(emoji)"></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="emoji-details-area">
        <div *ngIf="emojiSectionData.SelectedEmoji">
          <p class="emoji" [innerHTML]="emojiSectionData.SelectedEmoji.unicode[0]" [title]="emojiSectionData.SelectedEmoji.name"></p>

            <div class="emoji-name">: {{emojiSectionData.SelectedEmoji.name}}</div>
        </div>
      </div>
    </div>
  
  </div>
</div>